// PRIMARY
$black: #000000;
$white: #FFFFFF;
$primary-orange: #F19D39;

//SECONDARY
$darkblack: #141920;
$medium: #252F3D;
$blue: #007185;
$red: #B12704;
$yellow: #F4BF76;
$darkyellow: #F2A74A;
$secondary-orange: #C45500;
$hover-orange: #B65B22;

//GREY
$gray: #DDDDDD;
$darkgray: #C9CCCC;
$disabled-gray: #565959;

