@use "../../styles/partials/variables.scss" as *;

.feedbackpage {
    padding: 24px 40px;

    &__hero {
        width: 100%;
        margin-bottom: 8px;
    }

    &__section-header-container {
        width: 100%;
        margin: 16px 0;
        display: flex ;
        justify-content: space-between ;
    }

    &__review-details {
        display: flex;
        gap: 6px;
        padding: 8px 0; 
    }

    &__review-container {
        padding: 16px;
        border: 1px solid #D1D5DB;
        border-radius: 8px;
    }

    &__review-container-top {
        display: flex;
        justify-content: space-between;
    }

    &__review-container-preview {
        padding-top: 8px;
        border-top: 1px solid #D1D5DB;
    }

    &__timestamp {
        color: $darkgray;
        border-right: 1px solid #D1D5DB;
        padding-right: 6px;
    }

    &__verified {
        font-weight: bold;
        color: $secondary-orange;
    }
}