@use "../../styles/partials/variables.scss" as *;

.reviewlist {

    padding: 2rem 1rem;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    margin-bottom: 1.5rem;

    &:hover {
        cursor: pointer;
        border: 1px solid $secondary-orange;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
    }
    
    &__review-details {
        display: flex;
        gap: 0.5rem;
        padding-top: 0.5rem; 
    }

    &__review-container-preview {
        padding-top: 1rem;
        border-top: 1px solid #D1D5DB;
    }

    &__timestamp {
        color: $darkgray;
        border-right: 1px solid #D1D5DB;
        padding-right: 0.5rem;
    }

    &__verified {
        font-weight: bold;
        color: $secondary-orange;
    }

    &__credit {
        color: $credit-gray;
    }
}